.spinner {
    text-align: center;
    padding: 2rem 0 4rem 0;
  }
  
  .spinner > svg {
    animation: rotation 2s infinite linear;
    width: 3rem;
    height: 3rem;
    display: inline-block;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }